In [74]:
import numpy as np                         # 导入包
import pandas as pd
titanic = pd.read_csv('train.csv')         # 读取文件
test = pd.read_csv('test.csv')
# titanic.describe

In [75]:
titanic['Age'] = titanic['Age'].fillna(titanic['Age'].median())    # 缺失值填充
titanic['Embarked'] = titanic['Embarked'].fillna('S') 

test['Age'] = test['Age'].fillna(test['Age'].median())    # 缺失值填充
test['Embarked'] = test['Embarked'].fillna('S')
titanic.describe()
test.describe()

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   418.000000  418.000000  418.000000  418.000000  418.000000  418.000000
mean   1100.500000    2.265550   29.599282    0.447368    0.392344   35.578136
std     120.810458    0.841838   12.703770    0.896760    0.981429   55.849505
min     892.000000    1.000000    0.170000    0.000000    0.000000    0.000000
25%     996.250000    1.000000   23.000000    0.000000    0.000000    7.895800
50%    1100.500000    3.000000   27.000000    0.000000    0.000000   14.454200
75%    1204.750000    3.000000   35.750000    1.000000    0.000000   31.471875
max    1309.000000    3.000000   76.000000    8.000000    9.000000  512.329200

In [76]:
titanic['Sex'].replace(to_replace = {'male':0, 'female':1},inplace = True)
titanic['Embarked'].replace(to_replace = {'S':0, 'C':1, 'Q':2},inplace = True)

test['Sex'].replace(to_replace = {'male':0, 'female':1},inplace = True)
test['Embarked'].replace(to_replace = {'S':0, 'C':1, 'Q':2},inplace = True)
# 热编码
x = titanic.drop(['Name','Ticket','Cabin','PassengerId'], axis = 1)       # 删除无关数据
to_test = test.drop(['Name','Ticket','Cabin','PassengerId'], axis = 1)
to_test

     Pclass  Sex   Age  SibSp  Parch      Fare  Embarked
0         3    0  34.5      0      0    7.8292         2
1         3    1  47.0      1      0    7.0000         0
2         2    0  62.0      0      0    9.6875         2
3         3    0  27.0      0      0    8.6625         0
4         3    1  22.0      1      1   12.2875         0
..      ...  ...   ...    ...    ...       ...       ...
413       3    0  27.0      0      0    8.0500         0
414       1    1  39.0      0      0  108.9000         1
415       3    0  38.5      0      0    7.2500         0
416       3    0  27.0      0      0    8.0500         0
417       3    0  27.0      1      1   22.3583         1

[418 rows x 7 columns]

In [77]:
# 准备训练集和测试集
from sklearn.model_selection import train_test_split
X = x.drop('Survived',axis=1)
y = titanic['Survived']
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2)

In [78]:
# 数据标准化
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
x_train = scaler.fit_transform(X_train)
x_test = scaler.fit_transform(X_test)
al_test = scaler.fit_transform(to_test)

In [79]:
# 训练随机森林模型
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators = 100, random_state = 42)
model.fit(x_train, y_train)

RandomForestClassifier(random_state=42)

In [80]:
# 模型评估
from sklearn.metrics import accuracy_score, classification_report
y_pred = model.predict(x_test)
accuracy = accuracy_score(y_test, y_pred)
report = classification_report(y_test, y_pred)

print(f"精确度:{accuracy:.2f}")
print(report)

精确度:0.79
              precision    recall  f1-score   support

           0       0.79      0.92      0.85       114
           1       0.80      0.57      0.67        65

    accuracy                           0.79       179
   macro avg       0.80      0.75      0.76       179
weighted avg       0.79      0.79      0.78       179

In [82]:
pred = model.predict(al_test)
a = pd.DataFrame()
a['预测值'] = list(pred)
a

     预测值
0      0
1      0
2      0
3      0
4      1
..   ...
413    0
414    1
415    0
416    0
417    0

[418 rows x 1 columns]